body {
  background-color: #000000;
}

#wrapper{
  width: 80%;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
  padding-top: 2%;
  margin-left: 2%;
  margin-bottom: 2;
}

.label{
  font-size: 50%;
  font-style: italic;
}

#nav{
  background-color: #cce0ff;
  padding: .5%;
  text-align: right;
}

#content{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

#monet{
  float: right;
  overflow: hidden;
  width: 50%;
}

#pets{
  float: left;
  overflow: hidden;
  width: 50%;
}

img{
 margin: .25%;
}


/*VIDEO PAGE*/

/*#videopage{
  margin: 5%;
  margin-top: 0%;
}*/

#selfreflection p{
  float: right;
  overflow: hidden;
  width: 50%;
}

#selfreflection iframe{
  float: left;
  overflow: hidden;
  width: 50%
}









