#wrapper{
  width: 80%;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  }
}
#nav{
  background-color: #cce0ff;
  padding: .5%;
  text-align: right;
}

.jumbotron{
  position: relative;
  text-align: center;
}

.container{
  position: relative;
}












